<div class="coffee-sorting">
  <mat-menu #sortMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let option of sortingOptions"
      (click)="sortCoffee(option)"
    >
      {{ option }}
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="sortMenu">
    <mat-icon>sort</mat-icon>
  </button>
</div>
<div class="coffee">
  <div class="coffee-items">
    <mat-card *ngFor="let coffee of coffees">
      <mat-card-header>
        <mat-card-title>{{ coffee.name }}</mat-card-title>
        <mat-card-subtitle>{{ coffee.store }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ coffee.rating }}
        <span class="coffee-date"
          >{{ coffee.dateAdded | date: 'dd-MM-yyy' }} ===
          {{ coffee.order }}</span
        ></mat-card-content
      >
      <mat-card-actions class="coffee-actions">
        <button
          mat-mini-fab
          color="primary"
          (click)="updateCoffeeScore(coffee.id, coffee.rating, false)"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          (click)="updateCoffeeScore(coffee.id, coffee.rating, true)"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <button
          mat-raised-button
          color="accent"
          [routerLink]="'coffee/' + coffee.id"
          routerLinkActive="router-link-active"
        >
          Bekijk
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="removeCoffee(coffee.id)"
        >
          Verwijder
        </button>
        <span class="grab-handle">
          <button mat-icon-button><mat-icon>open_with</mat-icon></button>
        </span>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="coffee-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Coffees</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let cof of coffees">
            {{ cof.name }}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="add-coffee-button"
          mat-fab
          color="primary"
          (click)="openCoffeeForm()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
