@import '../../../scss/utilities/helpers';

$pot-colors: #fffedf #dfba69 #5a2e2e #2a2c31;

.mat-card {
  margin-bottom: 2rem;
  @extend .clearfix;
}

.coffee {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
}

.add-coffee-button {
  float: right;
}

.pot-list {
  display: flex;
  justify-content: space-between;
}

.pot-item {
  flex-basis: 100%;
  font-size: 1.6rem;
  @for $i from 1 through length($pot-colors) {
    &:nth-of-type(#{$i}) {
      background-color: nth($pot-colors, $i);
    }
  }

  &:not(:last-of-type) {
    margin-right: 2em;
  }
}

.pot-list-actions {
  display: flex;
  flex-direction: row-reverse;
}
