@import '../../../scss/utilities/helpers';


.mat-card {
  margin-bottom: 2rem;
  @extend .clearfix;
}

.coffee {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
}

.add-coffee-button {
  float: right;
}

.pot-list {
  display: flex;
}

.mat-list .pot-item {
  border: 1px solid #c2c2c2;
  text-align: center;
  // padding: 2em;

  &:not(:last-of-type) {
    margin-right: 2em;
  }
}
