<div class="coffee-sorting">
  <mat-menu #sortMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let option of sortingOptions"
      (click)="sortCoffee(option)"
    >
      {{ option }}
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="sortMenu">
    <mat-icon>sort</mat-icon>
  </button>
</div>
<div class="coffee" *ngIf="coffees && pots" [@fadeInOut]>
  <div class="coffee-items">
    <app-coffee-item
      *ngFor="let coffee of coffees"
      [coffee]="coffee"
    ></app-coffee-item>
  </div>
  <div class="coffee-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Coffees</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let cof of coffees">
            {{ cof.name }}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="add-coffee-button"
          mat-fab
          color="primary"
          (click)="openCoffeeForm()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <div class="coffee-pots">
      <app-pot-list
        *ngIf="pots"
        [pots]="pots"
        (plusClicked)="openCoffeeForm()"
      ></app-pot-list>
    </div>
  </div>
</div>
