<div class="coffee">
  <div class="coffee-items">
    <mat-card *ngFor="let coffee of coffees">
      <mat-card-header>
        <mat-card-title>{{ coffee.name }}</mat-card-title>
        <mat-card-subtitle>{{ coffee.store }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> {{ coffee.rating }} </mat-card-content>
      <mat-card-actions class="coffee-actions">
        <button
          mat-mini-fab
          color="primary"
          (click)="updateCoffeeScore(coffee.id, 'up')"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          (click)="updateCoffeeScore(coffee.id, 'down')"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <button
          mat-raised-button
          color="accent"
          [routerLink]="'coffee/' + coffee.id"
          routerLinkActive="router-link-active"
        >
          Bekijk
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="coffee-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Coffees</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let cof of coffees">{{
            cof.name
          }}</mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="add-coffee-button"
          mat-fab
          color="primary"
          (click)="addCoffee()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<mat-list>
  <mat-list-item *ngFor="let item of stuff">{{ item | json }}</mat-list-item>
</mat-list>
