@import '../../../scss/utilities/helpers';

.mat-card {
  margin-bottom: 2rem;
  @extend .clearfix;
}


.coffee {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
}

.add-coffee-button {
  float: right;
}

.coffee-actions {
  button {
    margin-right: 1em;
  }
}

.coffee-date {
  position: absolute;
  top: 1em;
  right: 1em;
}
