
.pot-item-item {
  position: relative;
  text-align: center;
  padding: 1em;
}

.pot-item-line {
  &:not(:last-of-type) {
    margin-bottom: 0.3em;
  }
}

.pot-item-name {
  font-size: 0.8em;
}

.pot-item-number {
  font-size: 3em;
}

.pot-item-coffee {
  font-size: 0.65em;
}

.pot-item-actions {
  position: absolute;
  bottom: 0;
  right: 0;
}
