@import '../../../scss/utilities/helpers';


.mat-card {
  @extend .clearfix;
}

.coffee-actions {
  button {
    margin-right: 0.25em;
  }
}

.coffee-date {
  position: absolute;
  top: 1em;
  right: 1em;
}

.coffee-sorting {
  margin: -2rem 0 2rem;
}

.grab-handle {
  position: absolute;
  bottom: 0.5em;
  right: 0;
  color: #C2C2C2;
  font-size: 1.2rem;
}
