<div class="coffee-item" [@fadeInOut]>
	<mat-card>
	  <mat-card-header>
	    <mat-card-title>{{ coffee.name }}</mat-card-title>
	    <mat-card-subtitle>{{ coffee.store }}</mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content>
      <app-rating [rating]="coffee.rating" (newRating)="updateCoffeeRating($event)"></app-rating>
	    <span class="coffee-date"
	      >{{ coffee.dateAdded | date: 'dd-MM-yyy' }}</span
	    ></mat-card-content
	  >
	  <mat-card-actions class="coffee-actions">
	    <button
	      mat-raised-button
	      color="accent"
	      [routerLink]="'coffee/' + coffee.id"
	      routerLinkActive="router-link-active"
	    >
	      Bekijk
	    </button>
	    <button mat-raised-button color="warn" (click)="removeCoffee(coffee.id)">
	      Verwijder
      </button>
      <button mat-icon-button><mat-icon>note_add</mat-icon></button>
	    <span class="grab-handle">
	      <button mat-icon-button><mat-icon>open_with</mat-icon></button>
	    </span>
	  </mat-card-actions>
	</mat-card>
</div>
